<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portal - Bootstrap 5 Admin Dashboard Template For Developers</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/portal.css">

</head>

<body class="app">


    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h1 class="app-page-title">Settings</h1>
                <hr class="mb-4">
                <div class="row g-4 settings-section">
                    <div class="col-12 col-md-4">
                        <h3 class="section-title">Categories</h3>
                        <div class="section-intro"> <a href="help.html"></a></div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="app-card app-card-settings shadow-sm p-4">

                            <div class="app-card-body">

                                <div class="mb-3">






                                    {{!--
                                    ------------------------------------------------------------------------------------------------------------------------------------------
                                    --}}
                                    <form action="/admin/add-category" method="post" enctype="multipart/form-data">

                                        <label for="setting-input-1" class="form-label">Parent category<span
                                                class="ms-2" data-container="body" data-bs-toggle="popover"
                                                data-trigger="hover" data-placement="top"
                                                data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                    width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-info-circle" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                    <circle cx="8" cy="4.5" r="1" />
                                                </svg></span></label>

                                        <input type="text" class="form-control" id="setting-input-1"
                                            name="brandname" placeholder="Laptop" required>
                                </div>
                                                                <input type="file" name="image" required >
                                <button type="submit" class="btn app-btn-primary">Save Changes</button>
                                </form>



                                {{!-- <form action="/admin/add-brand"  method="post"  enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="setting-input-2" class="form-label">Brand</label>

                                    <select name="brand" style="width: 500px;">
                                        <option >HP</option>
                                        <option >Lenovo</option>
                                        <option >TOSHIBA</option>
                                        <option >MSI</option>
                                        <option >ACER</option>

                                    </select>


                                </div>

                                <input type="file" name="image" required >


                                    <button type="submit" class="btn app-btn-primary">Save Changes</button>
                                    </form> --}}

                                    {{!--
                                    ---------------------------------------------------------------------------------------------------------------------------------------
                                    --}}

                                </div>
                                <!--//app-card-->
                            </div>
                        </div>
                        <!--//row-->

                        <!--//row-->

                        <!--//row-->

                        <!--//row-->
                        <hr class="my-4">
                    </div>
                    <!--//container-fluid-->
                </div>
                <!--//app-content-->

                <footer class="app-footer">
                    <div class="container text-center py-3">
                        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                       

                    </div>
                </footer>
                <!--//app-footer-->

            </div>
            <!--//app-wrapper-->


            <!-- Javascript -->
            <script src="assets/plugins/popper.min.js"></script>
            <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

            <!-- Page Specific JS -->
            <script src="assets/js/app.js"></script>

</body>

</html>











































{{!--

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portal - Bootstrap 5 Admin Dashboard Template For Developers</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="/assets2/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="/assets2/css/portal.css">

</head>

<body>



    <div class="container mt-4">
        <div class="row">

            <div class="col-md-6">
                <br><br>
                <h1 class="text-center">Create Category</h2>
                    <p class="wrong">

                    </p>
            </div>
            <form action="/admin/add-category" method="post">

                <div>
                    <h2>parentCategory</h2>


                    <h3>Brand</h3>
                    <select name="brands" style="width: 500px;">
                        <option value="Premium laptops">HP</option>
                        <option value="Gaming laptops">Lenovo</option>
                        <option value="Mini Laptops">TOSHIBA</option>
                        <option value="Ipads">MSI</option>
                        <option value="Laptop Acessories">ACER</option>

                    </select>

                    </span>
                    <button type="submit" class="btn btn-success ">Submit</button>
            </form>





        </div>
    </div>
    </section>






</body>

</html> --}}



















































{{!-- ---------------------------------------------------------------------------------------------------------------------------------------- --}}


