<main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
               
            </nav><!-- End .breadcrumb-nav -->

                      <div class="container">

                    <div class="cta cta-separator bg-image mb-5" >
	                	<div class="row">
	                		<div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">Edit Address</h3><!-- End .cta-title -->

							
									<a href="/show-address" class="btn btn-primary btn-rounded"><span>Edit</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">My Profile</h3><!-- End .cta-title -->

							
									<a href="/profile" class="btn btn-primary btn-rounded">Edit Profile<span></span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

	                		
	                	</div><!-- End .row -->
                	</div><!-- End .cta -->

                    <div class="cta cta-separator bg-image mb-5" >
	                	<div class="row">
	                		<div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">My Wishlist</h3><!-- End .cta-title -->

							
									<a href="/wishlist-page" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

                            <div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">Change Password</h3><!-- End .cta-title -->

							
									<a href="/changepassword" class="btn btn-primary btn-rounded"><span>Change</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

	                		
	                	</div><!-- End .row -->
                	</div><!-- End .cta -->
  
              <div class="row text-center">
                    <div class="col-6 col-lg-4 col-xl-2 "  >
		                	<div class="btn-wrap">
		                		<a href="/logout" class="btn btn-primary btn-round">Logout</a>
		                	</div><!-- End .btn-wrap -->
		                </div><!-- End .col-md-4 col-lg-2 -->

             </div>

             <div class="row text-center">
                    <div class="col-6 col-lg-4 col-xl-2 "  >
		                	<div class="btn-wrap">
		                		<a href="#" class="btn btn-primary btn-round">Delete Account</a>
		                	</div><!-- End .btn-wrap -->
		                </div><!-- End .col-md-4 col-lg-2 -->

             </div>
             </div>


        </main><!-- End .main -->