<div class="page-content">

    {{#each address}}
    <div class="container">
        <h2 class="title mb-3">Simple Accordions</h2><!-- End .title -->




        <div class="row">
            <div class="col-md-6">
                <div class="accordion" id="accordion-1">
                    <div class="card">
                        <div class="card-header" id="heading-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                                    aria-controls="collapse-1">
                                    Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                            data-parent="#accordion-1">
                            <div class="card-body">

                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                                    aria-expanded="false" aria-controls="collapse-2">
                                    Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                                    aria-expanded="false" aria-controls="collapse-3">
                                    Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->

            {{/each }}

            <div class="col-md-6">
                <div class="accordion accordion-plus" id="accordion-2">
                    <div class="card">
                        <div class="card-header" id="heading2-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse2-1" aria-expanded="true"
                                    aria-controls="collapse2-1">
                                    Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-1" class="collapse show" aria-labelledby="heading2-1"
                            data-parent="#accordion-2">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading2-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2"
                                    aria-expanded="false" aria-controls="collapse2-2">
                                    Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading2-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3"
                                    aria-expanded="false" aria-controls="collapse2-3">
                                    Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->

        {{!--
        <hr class="mb-4">

        <h2 class="title mb-3">Accordion with Icons</h2><!-- End .title -->

        <div class="row">
            <div class="col-md-6">
                <div class="accordion accordion-icon" id="accordion-3">
                    <div class="card">
                        <div class="card-header" id="heading3-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse3-1" aria-expanded="true"
                                    aria-controls="collapse3-1">
                                    <i class="icon-star-o"></i>Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-1" class="collapse show" aria-labelledby="heading3-1"
                            data-parent="#accordion-3">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading3-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2"
                                    aria-expanded="false" aria-controls="collapse3-2">
                                    <i class="icon-info-circle"></i>Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card">
                        <div class="card-header" id="heading3-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-3"
                                    aria-expanded="false" aria-controls="collapse3-3">
                                    <i class="icon-heart-o"></i>Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse3-3" class="collapse" aria-labelledby="heading3-3" data-parent="#accordion-3">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <div class="accordion accordion-icon" id="accordion-4">
                    <div class="card card-box bg-light">
                        <div class="card-header" id="heading4-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse4-1" aria-expanded="true"
                                    aria-controls="collapse4-1">
                                    <i class="icon-star-o"></i>Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse4-1" class="collapse show" aria-labelledby="heading4-1"
                            data-parent="#accordion-4">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box bg-light">
                        <div class="card-header" id="heading4-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4-2"
                                    aria-expanded="false" aria-controls="collapse4-2">
                                    <i class="icon-info-circle"></i>Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse4-2" class="collapse" aria-labelledby="heading4-2" data-parent="#accordion-4">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box bg-light">
                        <div class="card-header" id="heading4-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4-3"
                                    aria-expanded="false" aria-controls="collapse4-3">
                                    <i class="icon-heart-o"></i>Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse4-3" class="collapse" aria-labelledby="heading4-3" data-parent="#accordion-4">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->

        <hr class="mb-4">

        <h2 class="title mb-3">Accordions on Background</h2><!-- End .title -->

        <div class="row">
            <div class="col-md-6">
                <div class="accordion accordion-rounded" id="accordion-5">
                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading5-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse5-1" aria-expanded="true"
                                    aria-controls="collapse5-1">
                                    Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse5-1" class="collapse show" aria-labelledby="heading5-1"
                            data-parent="#accordion-5">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading5-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse5-2"
                                    aria-expanded="false" aria-controls="collapse5-2">
                                    Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse5-2" class="collapse" aria-labelledby="heading5-2" data-parent="#accordion-5">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-light">
                        <div class="card-header" id="heading5-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse5-3"
                                    aria-expanded="false" aria-controls="collapse5-3">
                                    Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse5-3" class="collapse" aria-labelledby="heading5-3" data-parent="#accordion-5">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <div class="accordion accordion-rounded accordion-plus" id="accordion-6">
                    <div class="card card-box card-sm bg-white">
                        <div class="card-header" id="heading6-1">
                            <h2 class="card-title">
                                <a role="button" data-toggle="collapse" href="#collapse6-1" aria-expanded="true"
                                    aria-controls="collapse6-1">
                                    Cras ornare tristique elit.
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse6-1" class="collapse show" aria-labelledby="heading6-1"
                            data-parent="#accordion-6">
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                                mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-white">
                        <div class="card-header" id="heading6-2">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse6-2"
                                    aria-expanded="false" aria-controls="collapse6-2">
                                    Vivamus vestibulum ntulla
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse6-2" class="collapse" aria-labelledby="heading6-2" data-parent="#accordion-6">
                            <div class="card-body">
                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                                suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum
                                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->

                    <div class="card card-box card-sm bg-white">
                        <div class="card-header" id="heading6-3">
                            <h2 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse6-3"
                                    aria-expanded="false" aria-controls="collapse6-3">
                                    Praesent placerat risus
                                </a>
                            </h2>
                        </div><!-- End .card-header -->
                        <div id="collapse6-3" class="collapse" aria-labelledby="heading6-3" data-parent="#accordion-6">
                            <div class="card-body">
                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                                posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit
                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros.
                            </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .card -->
                </div><!-- End .accordion -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row --> --}}
    </div><!-- End .container -->
</div><!-- End .page-content -->