  <div class="cta cta-separator mb-5">
	                	<div class="row">


	                		<div class="col-12">
		            			<div class="cta-wrapper text-center">

                                    {{#if errMessage}}
                                    <div class="text-center">
                                    <p style="color: #FCB941 ;">{{errMessage}}</p>
                                    </div>
                                    {{/if}}

							
									<form action="/changepassword" method="post" onsubmit="return check()">
										<input type="password" class="form-control form-control-rounded" placeholder="Enter Old Password" id="password" name="password"  >
                                        <span id="passwords" class="text-danger"  required/></span>
				                	
									
										<input type="password" class="form-control form-control-rounded" placeholder="Enter New Password" id="cpassword" name="newpass" >
                                        <span id="cpasswords" class="text-danger"></span>
                                        <div>
										<button class="btn btn-primary" type="submit"><span>Change Password</span><i class="icon-long-arrow-right"></i></button>
                                        </div>
				                	</form>

		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->


	                	</div><!-- End .row -->
                	</div><!-- End .cta -->


 <script>
   
    var errorPassword = document.getElementById('passwords')
    var errorcPassword = document.getElementById('cpasswords')
	
   
    function validPassowrd() {
        
        const psd = document.getElementById('password').value
        if (psd == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (psd.length < 5) {
			
            errorPassword.innerHTML = "password should be more than five characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }

    function validNPassowrd() {
        alert("how are you")
        const psd = document.getElementById('cpassword').value
        if (psd == "") {
            errorcPassword.innerHTML = "enter a password"
            return false
        }
        if (psd.length < 5) {
			
            errorcPassword.innerHTML = "password should be more than five characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }

    


        function check(){
              let validatearray =[ !validPassowrd() , !validNPassowrd()]
              return validatearray.every(validation)      

        }

  

    function validation() {
        if ( !validPassowrd() || !validNPassowrd() ) {
            return false
        }
        return true
    }
</script>