{{!--
<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head> --}}

   <body>

    <div class="page-wrapper">


        <main class="main">
            <!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
                style="background-color:#fcb941 ">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                                        aria-controls="signin-2" aria-selected="false">Signup</a>
                                </li>

                            </ul>


                            {{!--

                            <div class="tab-content">
                                <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                    --}}

                                    {{#if loginErr}}

                                    <h5 class="text-center text-danger mt-5">{{loginErr}}</h5>


                                    {{/if}}

                                    <form action="/signup" method="post" onsubmit="return validation()">


                                        <div class="form-group">
                                            <label for="singin-email-2">Name *</label>
                                            <input type="text" class="form-control" id="singin-email-2" name="name"
                                                id="Name" onkeyup="validateName()" required>
                                            <span class="border"></span>
                                            <span id="name" class="text-danger"></span>
                                        </div>
                                </div>

                                <div class="form-group">
                                    <label for="singin-email-2"> Email address *</label>
                                    <input type="text" class="form-control" id="Email" name="email"
                                        onkeyup="validEmail()" required>
                                    <span class="border"></span>
                                    <span id="email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="singin-email-2">Mobile Number *</label>
                                    <input type="tel" class="form-control" name="number" id="phonenumber"
                                        onkeyup="validPhoneNumber()" required>
                                    <span class="border"></span>
                                    <span id="phonenumbers" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="singin-password-2">Password *</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        onkeyup="validPassword()" required>
                                    <span class="border"></span>
                                    <span id="passwords" class="text-danger"></span>

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
</div>


                                        <div class="form-choice">
                                            <p class="text-center">or sign in with</p>

                                            <div class="row">
                                                
                                                {{!-- <div class="col-sm-6">

                                                    <a href="#" class="btn btn-login btn-g">
                                                        <i class="icon-google"></i>
                                                        Login With Google
                                                    </a>
                                                </div><!-- End .col-6 --> --}}
                                                <div class="col-sm-6">
                                                    <a href="#" class="btn btn-login btn-f">
                                                        <i class="icon-facebook-f"></i>
                                                        Login With Facebook
                                                    </a>
                                                </div><!-- End .col-6 -->
                                            {{!-- </div><!-- End .row --> --}}
                                        <!-- End .form-choice -->

                                        {{!-- <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                            <a href="/signup">Signup</a>
                                        </div><!-- End .custom-checkbox --> --}}

                                        {{!-- <a href="#" class="forgot-link">Forgot Your Password?</a> --}}
                                    </div><!-- End .form-footer -->
                                </div>
                            </div><!-- End .form-group -->


                        </div>


                    </div><!-- End .form-group -->


                    </form>

                </div><!-- .End .tab-pane -->

                {{!--
            </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content --> --}}
    </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
    </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->






    {{!--
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script> --}}














    <script>
        var errorName = document.getElementById('name')
        var errorEmail = document.getElementById('email')
        var errorPassword = document.getElementById('passwords')
        var errorPhonenumber = document.getElementById('phonenumbers')
        function validateName() {
            const name = document.getElementById('Name').value;
            if (name == "") {
                errorName.innerHTML = 'Enter your Name'
                return false
            }
            if (!name.match(/^[a-zA-Z ]*$/)) {
                errorName.innerHTML = 'Number are not allowed'
                return false
            }
            if (name.match(/^[ ]*$/)) {
                errorName.innerHTML = 'enter your valid name'
                return false
            }
            errorName.innerHTML = null
            return true
        }
        function validEmail() {
            const email = document.getElementById('Email').value
            if (email == "") {
                errorEmail.innerHTML = "enter you email address"
                return false
            }
            if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                errorEmail.innerHTML = 'enter a proper email address'
                return false
            }
            errorEmail.innerHTML = null
            return true
        }
        function validPassword() {
            const psd = document.getElementById('password').value
            if (psd == "") {
                errorPassword.innerHTML = "enter a password"
                return false
            }
            if (psd.length < 5) {

                errorPassword.innerHTML = "password should be more than five characters"
                return false
            }
            errorPassword.innerHTML = null
            return true
        }
        function validPhoneNumber() {
            const mob = document.getElementById('phonenumber').value
            if (mob == "") {
                errorPhonenumber.innerHTML = "enter a phonenumber"
                return false
            }
            if (mob.length < 10 || !mob.match(/^\d*$/)) {
                errorPhonenumber.innerHTML = "Please Enter the valide phone number"
                return false
            }
            errorPhonenumber.innerHTML = null
            return true
        }
        function validation() {
            if (!validateName() || !validEmail() || !validPassword() || !validPhoneNumber()) {
                return false
            }
            return true
        }
    </script>





</body>


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->

</html>